In [65]:
import pandas as pd
import re
from string import punctuation
punct = punctuation+'¬´¬ª‚Äî‚Ä¶‚Äú‚Äù*‚Ññ‚Äì'
import itertools
regex = re.compile("[–ê-–Ø–ô]{3,}")

## 1. –ß–∏—Ç–∞–µ–º 2 –¥–∞—Ç–∞—Å–µ—Ç–∞ –∏ –æ–±—ä–µ–¥–∏–Ω—è–µ–º –≤ 1 –¥–∞—Ç–∞—Ñ—Ä–µ–π–º

In [66]:
df1 = pd.read_csv("capitalization-vdud-wall-2.csv")
df2 = pd.read_csv("capitalization-echo-wall-2.csv")

In [68]:
df1.head()

,from_id,post_id,comment_text,comment_id,post_text,first_name,last_name,sex,bdate,city
0,19670600.0,13.0,"–¢—Ä–µ–∫ –¥–æ–ª–∂–µ–Ω –Ω–∞–∑—ã–≤–∞—Ç—å—Å—è ""–¢–µ–º –∫—Ç–æ –∑–Ω–∞–µ—Ç –ê–£–ï"" )",1651,[id2128351|–ë–∞—Å—Ç–∞] - –æ –ù–µ–º–∞–≥–∏–∏ –∏ —Å–≤–æ–µ–π –∑–∞—Ä–ø–ª–∞—Ç–µ...,Vladimir,Kolyaskin,2,31.10,Port-au-Prince
1,1625187.0,13.0,"—Ç—Ä–µ–∫ ""–†–£–°–ó–ú"" ( —Ä–æ–¥–∏–Ω–∞ —É–º—ã—Ç–∞ —Å–ª–µ–∑–∞–º–∏ –∑–µ–∫–æ–≤ –∏ –º–∞...",396,[id2128351|–ë–∞—Å—Ç–∞] - –æ –ù–µ–º–∞–≥–∏–∏ –∏ —Å–≤–æ–µ–π –∑–∞—Ä–ø–ª–∞—Ç–µ...,Sergey,Kostyrev,2,30.1.1987,Blagoveschensk
2,49407875.0,22.0,–î–ù–ï–í–ù–ò–ö –•–ê–ß–ê,247,[id8658426|–ê–º–∏—Ä–∞–Ω –°–∞—Ä–¥–∞—Ä–æ–≤] (–î–Ω–µ–≤–Ω–∏–∫ –•–∞—á–∞) - —Å...,Timofey,Ezhov,2,14.10,Moscow
3,423900905.0,22.0,"–ü–ª–∞–Ω–∏—Ä—É–µ—Ç—Å—è –æ—Ç–∫—Ä—ã—Ç–∏–µ –Ω–æ–≤–æ–≥–æ –∫–∞–Ω–∞–ª–∞ "" –ñ—É—Ä–Ω–∞–ª –ß–£...",2768,[id8658426|–ê–º–∏—Ä–∞–Ω –°–∞—Ä–¥–∞—Ä–æ–≤] (–î–Ω–µ–≤–Ω–∏–∫ –•–∞—á–∞) - —Å...,Svetlana,Mironova,1,6.5.1994,Moscow
4,312160075.0,28.0,"–ö–∞–∫ –∂–µ –∂–∞–ª–æ–∫ –°–æ–±–æ–ª–µ–≤, –Ω–∞ —Ñ–æ–Ω–µ –±–æ–ª–µ–µ —Å–∏–ª—å–Ω–æ–π –ª–∏...",2471,"[id2183360|–°–æ–±–æ–ª–µ–≤] - –æ –ü—É—Ç–∏–Ω–µ, –º–∏—Ç–∏–Ω–≥–∞—Ö –∏ —Å–µ–∫...",Anastasia,Smirnova,1,27.10.1997,Obninsk

In [69]:
df1 = df1.drop(["post_text"], axis = 1)

In [70]:
df1.tail()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city
2768,11711559.0,174960.0,"–ú–Ω–µ –∂—É—É—É—Ç–∫–æ –ø–æ–Ω—Ä–∞–≤–∏–ª–æ—Å—å. –•–æ—Ä–æ—à–∏–µ –º—ã—Å–ª–∏, —Å–ª–æ–≤–∞;...",175375,Ekaterina,Pozharova,1,30.7.1989,Samara
2769,138291595.0,174960.0,#–∫–æ–Ω–∫—É—Ä—Å –î–∏—Å–∫–ª–µ–π–º–µ—Ä: –∫–∞–Ω–∞–ª ¬´–≤–î—É–¥—å¬ª –Ω–µ –ø—Ä–æ–ø–∞–≥–∞–Ω...,175427,Darya,Golovanova,1,7.12,Tver
2770,17779627.0,174960.0,"#–∫–æ–Ω–∫—É—Ä—Å\n""–ß–ï–õ–û–í–ï–ö –õ–ï–°–ê"" (2013) by William Dou...",175477,Maria,Bogachek,1,21.8,Saint Petersburg
2771,181037157.0,174960.0,"#–∫–æ–Ω–∫—É—Ä—Å\n–ú–∞—Å—Ç–µ—Ä 2012 –≥–æ–¥, —Ä–µ–∂–∏—Å—Å–µ—Ä–∞ –ü–æ–ª–∞ –¢–æ–º–∞...",175168,Daniil,Markeev,2,7.9.2000,Ivanovo
2772,153266583.0,174960.0,–ü–û–ë–ï–î–ê!\n\nhttps://tvrain.ru/news/mvd_prekrati...,175049,Matrena,Sidorova,1,NaN,Cheboxary

In [71]:
df2.tail()

,from_id,post_id,comment_text,id,first_name,last_name,sex,bdate,city
2416,167423223.0,3173969.0,–í–û–†–æ–±—å–µ–≤? üòä,3174084,Andrey,Motovilov,2,21.9,Tolyatti
2417,486523749.0,3173952.0,–û—Ç–≤–∞–ª–∏—Ç–µ –æ—Ç —Å—ã–Ω–∞ –≥–ª–∞–≤–Ω–æ–≥–æ –æ–±–æ—Ä–æ—Ç–Ω—è –ú–í–î...—Ç–∞–º –æ...,3173974,Alexey,Vitoshnov,2,6.6.1986,Moscow
2418,316971518.0,3173952.0,"–£ –°–æ–±—è–Ω–∏–Ω–∞ —Å—ã–Ω–æ–≤—å—è –∂–∏–≤—É—Ç –≤ –°–®–ê, –∞ –¥–æ—á—å –≤ –ê–≤—Å—Ç—Ä–∏–∏.",3174491,Nina,Kondratyeva,1,17.12.1954,Nizhny Novgorod
2419,209279951.0,3173952.0,"[id289354141|–°–≤–µ—Ç–ª–∞–Ω–∞], –æ—Ç–≤–µ—Ç –æ–¥–∏–Ω: –ù–ò–ö–û–ì–î–ê!!!",3174770,Amiran,Kravishvili,2,24.9.1954,Pyatigorsk
2420,110840513.0,3173883.0,–ù–ï–¢ –°–¢–†–ê–ù–´.,3173910,Mikhail,Dobromyslov,2,13.9.1960,Pudozh

In [72]:
df2.columns = ['from_id', 'post_id', 'comment_text', "comment_id", "first_name", "last_name", "sex", "bdate", "city"]

In [73]:
df = pd.concat([df1, df2], axis=0)

In [74]:
df.reset_index(drop=True, inplace=True)

In [75]:
df.sex.value_counts() # –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ 4 —Ç—ã—Å. –∫–æ–º–º–µ–Ω—Ç–æ–≤ –º—É–∂—Å–∫–æ–≥–æ –ø–æ–ª–∞, 973 - –∂–µ–Ω—Å–∫–æ–≥–æ.

2    4220
1     973
0       1
Name: sex, dtype: int64

In [76]:
df.tail()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city
5189,167423223.0,3173969.0,–í–û–†–æ–±—å–µ–≤? üòä,3174084,Andrey,Motovilov,2,21.9,Tolyatti
5190,486523749.0,3173952.0,–û—Ç–≤–∞–ª–∏—Ç–µ –æ—Ç —Å—ã–Ω–∞ –≥–ª–∞–≤–Ω–æ–≥–æ –æ–±–æ—Ä–æ—Ç–Ω—è –ú–í–î...—Ç–∞–º –æ...,3173974,Alexey,Vitoshnov,2,6.6.1986,Moscow
5191,316971518.0,3173952.0,"–£ –°–æ–±—è–Ω–∏–Ω–∞ —Å—ã–Ω–æ–≤—å—è –∂–∏–≤—É—Ç –≤ –°–®–ê, –∞ –¥–æ—á—å –≤ –ê–≤—Å—Ç—Ä–∏–∏.",3174491,Nina,Kondratyeva,1,17.12.1954,Nizhny Novgorod
5192,209279951.0,3173952.0,"[id289354141|–°–≤–µ—Ç–ª–∞–Ω–∞], –æ—Ç–≤–µ—Ç –æ–¥–∏–Ω: –ù–ò–ö–û–ì–î–ê!!!",3174770,Amiran,Kravishvili,2,24.9.1954,Pyatigorsk
5193,110840513.0,3173883.0,–ù–ï–¢ –°–¢–†–ê–ù–´.,3173910,Mikhail,Dobromyslov,2,13.9.1960,Pudozh

## 2. –ù–µ–º–Ω–æ–≥–æ –æ—á–∏—â–∞–µ–º —Ç–µ–∫—Å—Ç—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤ (–∏–∑–±–∞–≤–ª—è–µ–º –æ—Ç —Å—Å—ã–ª–æ–∫ –Ω–∞ —é–∑–µ—Ä–æ–≤, —Ö—ç—à—Ç–µ–≥–æ–≤)

In [77]:
# —É–¥–∞–ª–∏—Ç—å –∑–∞–ø–∏—Å–∏ –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–∫–∞—Ö
for i in df.index:
    if re.search("\[id.*|.*\],", df.iloc[i, 2]):
        df.iloc[i, 2] = re.sub(r"(\[id.*?|.*?\]), ", r'', df.iloc[i, 2])

In [78]:
# —É–¥–∞–ª–∏—Ç—å –∑–∞–ø–∏—Å–∏ –≤ –∫–≤–∞–¥—Ä–∞—Ç–Ω—ã—Ö —Å–∫–æ–±–∫–∞—Ö
for i in df.index:
    if re.search("\[club.*|.*\],", df.iloc[i, 2]):
        df.iloc[i, 2] = re.sub(r"(\[club.*?|.*?\]), ", r'', df.iloc[i, 2])

In [79]:
# —É–¥–∞–ª–∏—Ç—å —Ö—ç—à—Ç–µ–≥–∏
for i in df.index:
    if re.search("(#.*?) ", df.iloc[i, 2]):
        df.iloc[i, 2] = re.sub("(#.*?) ", '', df.iloc[i, 2])

In [80]:
df.tail()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city
5189,167423223.0,3173969.0,–í–û–†–æ–±—å–µ–≤? üòä,3174084,Andrey,Motovilov,2,21.9,Tolyatti
5190,486523749.0,3173952.0,–û—Ç–≤–∞–ª–∏—Ç–µ –æ—Ç —Å—ã–Ω–∞ –≥–ª–∞–≤–Ω–æ–≥–æ –æ–±–æ—Ä–æ—Ç–Ω—è –ú–í–î...—Ç–∞–º –æ...,3173974,Alexey,Vitoshnov,2,6.6.1986,Moscow
5191,316971518.0,3173952.0,"–£ –°–æ–±—è–Ω–∏–Ω–∞ —Å—ã–Ω–æ–≤—å—è –∂–∏–≤—É—Ç –≤ –°–®–ê, –∞ –¥–æ—á—å –≤ –ê–≤—Å—Ç—Ä–∏–∏.",3174491,Nina,Kondratyeva,1,17.12.1954,Nizhny Novgorod
5192,209279951.0,3173952.0,–æ—Ç–≤–µ—Ç –æ–¥–∏–Ω: –ù–ò–ö–û–ì–î–ê!!!,3174770,Amiran,Kravishvili,2,24.9.1954,Pyatigorsk
5193,110840513.0,3173883.0,–ù–ï–¢ –°–¢–†–ê–ù–´.,3173910,Mikhail,Dobromyslov,2,13.9.1960,Pudozh

## 3. –î–æ–±–∞–≤–ª—è–µ–º –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é –∫–æ–ª–æ–Ω–∫—É —á–∏—Å–ª–æ —Ç–æ–∫–µ–Ω–æ–≤ –≤ –∫–æ–º–º–µ–Ω—Ç–µ

In [81]:
df["n_tokens"] = None

In [82]:
# —Ç–æ–∫–µ–Ω–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∏ –¥–æ–±–∞–≤–∏—Ç—å –≤ –∫–æ–ª–æ–Ω–∫—É —á–∏—Å–ª–æ —Å–ª–æ–≤ –≤ –∫–æ–º–º–µ–Ω—Ç–µ
for i in df.index:
    df.iloc[i, 2] = df.iloc[i, 2].replace(".", ". ")
    df.iloc[i, 2] = df.iloc[i, 2].replace(",", ", ")
    df.iloc[i, 2] = df.iloc[i, 2].replace("!", "! ")
    df.iloc[i, 2] = df.iloc[i, 2].replace("?", "? ")
    df.iloc[i, 2] = df.iloc[i, 2].replace("(", "( ")
    df.iloc[i, 2] = df.iloc[i, 2].replace(")", ") ")
    text = df.iloc[i, 2]
    tokens = [i.strip(punct) for i in text.split() if i.strip(punct)]
    df.iloc[i, -1] = len(tokens)

In [83]:
df.tail(5)

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city,n_tokens
5189,167423223.0,3173969.0,–í–û–†–æ–±—å–µ–≤? üòä,3174084,Andrey,Motovilov,2,21.9,Tolyatti,2
5190,486523749.0,3173952.0,–û—Ç–≤–∞–ª–∏—Ç–µ –æ—Ç —Å—ã–Ω–∞ –≥–ª–∞–≤–Ω–æ–≥–æ –æ–±–æ—Ä–æ—Ç–Ω—è –ú–í–î. . . —Ç–∞...,3173974,Alexey,Vitoshnov,2,6.6.1986,Moscow,36
5191,316971518.0,3173952.0,"–£ –°–æ–±—è–Ω–∏–Ω–∞ —Å—ã–Ω–æ–≤—å—è –∂–∏–≤—É—Ç –≤ –°–®–ê, –∞ –¥–æ—á—å –≤ –ê–≤—Å—Ç...",3174491,Nina,Kondratyeva,1,17.12.1954,Nizhny Novgorod,10
5192,209279951.0,3173952.0,–æ—Ç–≤–µ—Ç –æ–¥–∏–Ω: –ù–ò–ö–û–ì–î–ê! ! !,3174770,Amiran,Kravishvili,2,24.9.1954,Pyatigorsk,3
5193,110840513.0,3173883.0,–ù–ï–¢ –°–¢–†–ê–ù–´.,3173910,Mikhail,Dobromyslov,2,13.9.1960,Pudozh,2

## 4. –¢–∞–∫–∂–µ –¥–æ–±–∞–≤–ª—è–µ–º –∫–æ–ª–æ–Ω–∫–∏ —Å —á–∏—Å–ª–æ–º —Å–ª–æ–≤, –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –∫–∞–ø—Å–æ–º, –∏ —Å–∞–º–∏–º–∏ —Å–ª–æ–≤–∞–º–∏

In [84]:
df["n_caps"] = None
df["caps"] = None

In [85]:
# –¥–æ–±–∞–≤–∏—Ç—å –≤ –∫–æ–ª–æ–Ω–∫—É —á–∏—Å–ª–æ —Å–ª–æ–≤, –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –∫–∞–ø—Å–æ–º; —Å–∞–º–∏ —ç—Ç–∏ —Å–ª–æ–≤–∞
for i in df.index:
    text = df.iloc[i, 2]
    tokens = [i.strip(punct) for i in text.split() if i.strip(punct)]
    caps = [w for w in tokens if w.isupper() and len(w) > 2 and re.search(regex, w)]
    df.iloc[i, -1] = ' '.join(caps)
    df.iloc[i, -2] = len(caps)

In [86]:
df.tail()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city,n_tokens,n_caps,caps
5189,167423223.0,3173969.0,–í–û–†–æ–±—å–µ–≤? üòä,3174084,Andrey,Motovilov,2,21.9,Tolyatti,2,0,
5190,486523749.0,3173952.0,–û—Ç–≤–∞–ª–∏—Ç–µ –æ—Ç —Å—ã–Ω–∞ –≥–ª–∞–≤–Ω–æ–≥–æ –æ–±–æ—Ä–æ—Ç–Ω—è –ú–í–î. . . —Ç–∞...,3173974,Alexey,Vitoshnov,2,6.6.1986,Moscow,36,1,–ú–í–î
5191,316971518.0,3173952.0,"–£ –°–æ–±—è–Ω–∏–Ω–∞ —Å—ã–Ω–æ–≤—å—è –∂–∏–≤—É—Ç –≤ –°–®–ê, –∞ –¥–æ—á—å –≤ –ê–≤—Å—Ç...",3174491,Nina,Kondratyeva,1,17.12.1954,Nizhny Novgorod,10,1,–°–®–ê
5192,209279951.0,3173952.0,–æ—Ç–≤–µ—Ç –æ–¥–∏–Ω: –ù–ò–ö–û–ì–î–ê! ! !,3174770,Amiran,Kravishvili,2,24.9.1954,Pyatigorsk,3,1,–ù–ò–ö–û–ì–î–ê
5193,110840513.0,3173883.0,–ù–ï–¢ –°–¢–†–ê–ù–´.,3173910,Mikhail,Dobromyslov,2,13.9.1960,Pudozh,2,2,–ù–ï–¢ –°–¢–†–ê–ù–´

## 5. –£–¥–∞–ª—è–µ–º –ø–æ—Å—Ç—ã, –≥–¥–µ –Ω–µ –æ–∫–∞–∑–∞–ª–æ—Å—å –Ω–∏ –æ–¥–Ω–æ–≥–æ –∫–∞–ø—Å–∞

In [87]:
# —É–¥–∞–ª—è–µ–º –ø–æ—Å—Ç—ã, –≥–¥–µ –Ω–µ –æ–∫–∞–∑–∞–ª–æ—Å—å –Ω–∏ –æ–¥–Ω–æ–≥–æ –∫–∞–ø—Å–∞
df = df[df.n_caps != 0]
df.reset_index(drop=True, inplace=True)
df.sex.value_counts()

2    3947
1     925
0       1
Name: sex, dtype: int64

In [88]:
df = df[df.sex != 0]
df.reset_index(drop=True, inplace=True)
df.sex.value_counts()

2    3947
1     925
Name: sex, dtype: int64

## 6. –î–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –Ω–µ –ø—Ä–æ—Å—Ç–æ –≤—Å–µ, –∞ —Ç–æ–ª—å–∫–æ "–æ—Å–æ–∑–Ω–∞–Ω–Ω—ã–µ" –∫–∞–ø—Å–ª–æ–∫–∏, —Å–æ–∑–¥–∞–¥–∏–º –µ—â–µ –æ–¥–∏–Ω –¥–∞—Ç–∞-—Ñ—Ä–µ–π–º

In [89]:
df_filtered = df.iloc[:, :-2]

In [90]:
df_filtered.head()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city,n_tokens
0,19670600.0,13.0,"–¢—Ä–µ–∫ –¥–æ–ª–∂–µ–Ω –Ω–∞–∑—ã–≤–∞—Ç—å—Å—è ""–¢–µ–º –∫—Ç–æ –∑–Ω–∞–µ—Ç –ê–£–ï"" )",1651,Vladimir,Kolyaskin,2,31.10,Port-au-Prince,7
1,1625187.0,13.0,"—Ç—Ä–µ–∫ ""–†–£–°–ó–ú"" ( —Ä–æ–¥–∏–Ω–∞ —É–º—ã—Ç–∞ —Å–ª–µ–∑–∞–º–∏ –∑–µ–∫–æ–≤ –∏ –º...",396,Sergey,Kostyrev,2,30.1.1987,Blagoveschensk,8
2,49407875.0,22.0,–î–ù–ï–í–ù–ò–ö –•–ê–ß–ê,247,Timofey,Ezhov,2,14.10,Moscow,2
3,423900905.0,22.0,"–ü–ª–∞–Ω–∏—Ä—É–µ—Ç—Å—è –æ—Ç–∫—Ä—ã—Ç–∏–µ –Ω–æ–≤–æ–≥–æ –∫–∞–Ω–∞–ª–∞ "" –ñ—É—Ä–Ω–∞–ª –ß–£...",2768,Svetlana,Mironova,1,6.5.1994,Moscow,6
4,312160075.0,28.0,"–ö–∞–∫ –∂–µ –∂–∞–ª–æ–∫ –°–æ–±–æ–ª–µ–≤, –Ω–∞ —Ñ–æ–Ω–µ –±–æ–ª–µ–µ —Å–∏–ª—å–Ω–æ–π –ª...",2471,Anastasia,Smirnova,1,27.10.1997,Obninsk,36

## 7. –°–æ–∑–¥–∞–¥–∏–º —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö —Ç–æ–∫–µ–Ω–æ–≤ –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–µ–º –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å–ª–æ–≤–∞, –Ω–∞–ø–∏—Å–∞–Ω–Ω–æ–≥–æ –∫–∞–ø—Å–ª–æ–∫–æ–º, –º–µ—Ç—Ä–∏–∫—É, –Ω–∞ –æ—Å–Ω–æ–≤–µ –Ω–∞—à–µ–≥–æ –º–∞–ª–µ–Ω—å–∫–æ–≥–æ –∫–æ—Ä–ø—É—Å–∞: 
_—Å–ª–æ–≤–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –∫–∞–ø—Å–æ–º / (—Å–ª–æ–≤–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –∫–∞–ø—Å–æ–º + —Å–ª–æ–≤–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –Ω–µ –∫–∞–ø—Å–æ–º)_

In [91]:
all_text = [df.iloc[i, 2] for i in df.index]
all_tokens = [[i.strip(punct) for i in text.split() if i.strip(punct)] for text in all_text]
all_tokens_flat = list(itertools.chain.from_iterable(all_tokens))
caps = [i for i in all_tokens_flat if i.isupper()]

In [92]:
len(all_tokens_flat)

186640

In [28]:
caps_dict = {i:[] for i in caps}

In [29]:
for word in caps_dict.keys():
    upper_count = all_tokens_flat.count(word)
    lower_count = all_tokens_flat.count(word.lower())
    total_count = upper_count + lower_count
    metrics = upper_count / total_count
    caps_dict[word] = [metrics, total_count]

In [30]:
caps_dict["–õ–´–°–´–ô"]

[1.0, 15]

–≠—Ç–æ –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ —Å–ª–æ–≤–æ "–õ–´–°–´–ô" –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –≤ –∫–æ—Ä–ø—É—Å–µ 15 —Ä–∞–∑ –∏ –≤—Å–µ —Ä–∞–∑—ã - —Å –∫–∞–ø—Å–æ–º. –°—Ç—Ä–∞–Ω–Ω–æ, –ø—Ä–∞–≤–¥–∞? –ù–∞–≤–µ—Ä–Ω–æ–µ, —É –º–µ–Ω—è –æ—á–µ–Ω—å –º–∞–ª–µ–Ω—å–∫–∏–π –∫–æ—Ä–ø—É—Å.

In [31]:
caps_dict["–ê–ù–¢–ò–•–ê–ô–ü"]

[0.8888888888888888, 9]

–ò –∞–Ω—Ç–∏—Ö–∞–π–ø...

In [32]:
caps_dict["–ò–ú–•–û"]

[0.9142857142857143, 35]

–ê –≤–æ—Ç —ç—Ç–æ –æ–∂–∏–¥–∞–µ–º–æ.

## 8. –ù—É–∂–Ω–æ –∫–∞–∫-—Ç–æ –æ—Ç—Å–µ—è—Ç—å —Å–ª–æ–≤–∞, –∫–æ—Ç–æ—Ä—ã–µ –æ—Å–æ–∑–Ω–∞–Ω–Ω–æ –ø–∏—à—É—Ç—Å—è –∫–∞–ø—Å–ª–æ–∫–æ–º. –Ø –≤–∑—è–ª–∞ –≤—ã—Å–æ–∫–∏–π –ø–æ—Ä–æ–≥ 0.85 (–ø–æ—Å–∫–æ–ª—å–∫—É –º–∞–ª–µ–Ω—å–∫–∏–π –∫–æ—Ä–ø—É—Å) –∏ –∑–∞—Ç–µ–º –æ—Ç—Ä–µ–¥–∞–∫—Ç–∏—Ä–æ–≤–∞–ª–∞ —Å–ø–∏—Å–∫–∏ —Å–ª–æ–≤ –≥–ª–∞–∑–∞–º–∏, —Ä—É–∫–æ–¥–æ—Å—Ç–≤—É—è—Å—å –∑–¥—Ä–∞–≤—ã–º —Å–º—ã—Å–ª–æ–º.

In [33]:
meaningful_caps = []
usual_caps = []
the_rest = []

for k, v in caps_dict.items():
    if v[1] > 4 and v[0] < 0.85:
        meaningful_caps.append(k)
    elif v[1] > 4 and v[0] > 0.85:
        usual_caps.append(k)
    else:
        the_rest.append(k)

In [34]:
with open("meaningful_caps.txt", "w", encoding = "UTF-8") as f:
    for i in meaningful_caps:
        f.write(i + "\n")

In [35]:
with open("usual_caps.txt", "w", encoding = "UTF-8") as f:
    for i in usual_caps:
        f.write(i + "\n")

In [36]:
with open("the_rest.txt", "w", encoding = "UTF-8") as f:
    for i in the_rest:
        f.write(i + "\n")

## 9. –ß–∏—Ç–∞–µ–º –ø–æ–ª—É—á–∏–≤—à–∏–π—Å—è —Ñ–∞–π–ª –∏ –∏—Å–ø–æ–ª—å–∑—É–µ–º –µ–≥–æ, —á—Ç–æ–±—ã —Å–æ–∑–¥–∞—Ç—å –∫–æ–ª–æ–Ω–∫–∏ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ, –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã–µ —Ç–æ–º—É, —á—Ç–æ –≤—ã—à–µ, –Ω–æ —Ç–æ–ª—å–∫–æ –¥–ª—è "–æ—Å–æ–∑–Ω–∞–Ω–Ω–æ–≥–æ" –∫–∞–ø—Å–ª–æ–∫–∞

In [93]:
with open("meaningful_caps.txt", "r", encoding = "UTF-8") as f:
    f = f.readlines()
meaningful_caps = [i.strip() for i in f]
meaningful_caps = [i for i in meaningful_caps if len(i) > 2 and re.search(regex, i)]
meaningful_caps = list(set(meaningful_caps))

In [94]:
len(meaningful_caps)

3923

In [95]:
meaningful_caps[:10]

['–ù–ï–í–ó–û–†–ò–®–ö–ê',
 '–ù–ò–•–£–Ø',
 '–ë–û–ì',
 '–ö–†–ò–î',
 '–ï–í–†–û',
 '–ö–ê–ú–ï–î–ò–ò',
 '–î–û–ö–û–õ–ï',
 '–ê–ô–§–û–ù–ß–ò–ö',
 '–ö–ê–ô–§',
 '–ß–£–î–ï–°–ù–ê–Ø']

In [97]:
# –≤–µ—Ä–Ω–µ–º—Å—è –∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É
df_filtered.tail()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city,n_tokens
4867,307041317.0,3173979.0,–∫–æ–Ω–µ—á–Ω–æ! –û—á–µ–Ω—å –≤—ã–≥–æ–¥–Ω–æ –≤–∑—è—Ç—å –¥–µ–Ω—å–≥–∏ –∏–∑ —ç–∫–æ–Ω–æ–º...,3174194,Evgeny,Printsev,2,29.7.1972,Kemerovo,18
4868,486523749.0,3173952.0,–û—Ç–≤–∞–ª–∏—Ç–µ –æ—Ç —Å—ã–Ω–∞ –≥–ª–∞–≤–Ω–æ–≥–æ –æ–±–æ—Ä–æ—Ç–Ω—è –ú–í–î. . . —Ç–∞...,3173974,Alexey,Vitoshnov,2,6.6.1986,Moscow,36
4869,316971518.0,3173952.0,"–£ –°–æ–±—è–Ω–∏–Ω–∞ —Å—ã–Ω–æ–≤—å—è –∂–∏–≤—É—Ç –≤ –°–®–ê, –∞ –¥–æ—á—å –≤ –ê–≤—Å—Ç...",3174491,Nina,Kondratyeva,1,17.12.1954,Nizhny Novgorod,10
4870,209279951.0,3173952.0,–æ—Ç–≤–µ—Ç –æ–¥–∏–Ω: –ù–ò–ö–û–ì–î–ê! ! !,3174770,Amiran,Kravishvili,2,24.9.1954,Pyatigorsk,3
4871,110840513.0,3173883.0,–ù–ï–¢ –°–¢–†–ê–ù–´.,3173910,Mikhail,Dobromyslov,2,13.9.1960,Pudozh,2

In [98]:
df_filtered["n_caps"] = None
df_filtered["caps"] = None

In [99]:
# –¥–æ–±–∞–≤–∏—Ç—å –≤ –∫–æ–ª–æ–Ω–∫—É —á–∏—Å–ª–æ —Å–ª–æ–≤, –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã—Ö –∫–∞–ø—Å–æ–º; —Å–∞–º–∏ —ç—Ç–∏ —Å–ª–æ–≤–∞
for i in df_filtered.index:
    text = df_filtered.iloc[i, 2]
    tokens = [i.strip(punct) for i in text.split() if i.strip(punct)]
    caps = [w for w in tokens if w.isupper() and w in meaningful_caps]
    df_filtered.iloc[i, -1] = ' '.join(caps)
    df_filtered.iloc[i, -2] = len(caps)

In [100]:
df_filtered.head()

,from_id,post_id,comment_text,comment_id,first_name,last_name,sex,bdate,city,n_tokens,n_caps,caps
0,19670600.0,13.0,"–¢—Ä–µ–∫ –¥–æ–ª–∂–µ–Ω –Ω–∞–∑—ã–≤–∞—Ç—å—Å—è ""–¢–µ–º –∫—Ç–æ –∑–Ω–∞–µ—Ç –ê–£–ï"" )",1651,Vladimir,Kolyaskin,2,31.10,Port-au-Prince,7,0,
1,1625187.0,13.0,"—Ç—Ä–µ–∫ ""–†–£–°–ó–ú"" ( —Ä–æ–¥–∏–Ω–∞ —É–º—ã—Ç–∞ —Å–ª–µ–∑–∞–º–∏ –∑–µ–∫–æ–≤ –∏ –º...",396,Sergey,Kostyrev,2,30.1.1987,Blagoveschensk,8,1,–†–£–°–ó–ú
2,49407875.0,22.0,–î–ù–ï–í–ù–ò–ö –•–ê–ß–ê,247,Timofey,Ezhov,2,14.10,Moscow,2,2,–î–ù–ï–í–ù–ò–ö –•–ê–ß–ê
3,423900905.0,22.0,"–ü–ª–∞–Ω–∏—Ä—É–µ—Ç—Å—è –æ—Ç–∫—Ä—ã—Ç–∏–µ –Ω–æ–≤–æ–≥–æ –∫–∞–Ω–∞–ª–∞ "" –ñ—É—Ä–Ω–∞–ª –ß–£...",2768,Svetlana,Mironova,1,6.5.1994,Moscow,6,1,–ß–£–†–ö–ò
4,312160075.0,28.0,"–ö–∞–∫ –∂–µ –∂–∞–ª–æ–∫ –°–æ–±–æ–ª–µ–≤, –Ω–∞ —Ñ–æ–Ω–µ –±–æ–ª–µ–µ —Å–∏–ª—å–Ω–æ–π –ª...",2471,Anastasia,Smirnova,1,27.10.1997,Obninsk,36,1,–ö–ê–ñ–î–û–ú–£

In [101]:
df_filtered.comment_text[2]

'–î–ù–ï–í–ù–ò–ö –•–ê–ß–ê'

In [102]:
df_filtered = df_filtered[df_filtered.n_caps != 0]
df_filtered.reset_index(drop=True, inplace=True)
df_filtered.sex.value_counts()

2    2044
1     522
Name: sex, dtype: int64

–ü–æ–ª—É—á–∏–ª–æ—Å—å –ø–æ—á—Ç–∏ –≤ 2 —Ä–∞–∑–∞ –º–µ–Ω—å—à–µ –Ω–∞–±–ª—é–¥–µ–Ω–∏–π.

## 10. –°–æ—Ö—Ä–∞–Ω—è–µ–º –∏—Ç–æ–≥–æ–≤—ã–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –≤ —Ñ–∞–π–ª—ã

In [103]:
df.to_csv("capitalization.csv", index=False)
df_filtered.to_csv("meaningful-capitalization.csv", index=False)